body {
    font-family: Arial, sans-serif , ;
    margin: 0;
    padding: 0;
    
  }

  header {
    background-color: #333;
    color: #d5c0c0;
    padding: 10px 0;
  }

  .container {
    width: 80%;
    margin: 0 auto;
  }

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  nav a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
  }

  
  .hero {
    background-image: url('https://images.unsplash.com/photo-1541746972996-4e0b0f43e02a?q=80&w=1770&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D'); /* Placeholder image URL */
    background-size: cover;
    background-position: center;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #f9f2f2;
    text-align: center;
  }

  .hero h1 {
    text-align: center;
    font-size: 4em; /* Increased font size */
    margin-bottom: 20px;
    width: 100%;
    font-weight: bold; /* Making the font bold */
}


  .hero p {
    font-size: 1.2em;
  }

  .overview{
        align-items: center;
        width: 100%;
        background-color: #f8f8f8;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    
  }

  .achievements {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 40px 80px;
  }

  .achievements .work {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 40px;
  }

  .achievements .work i {
    width: fit-content;
    font-size: 50px;
    color: #333333;
    border-radius: 50%;
    border: 2px solid #333333;
    padding: 12px;
  }

  .achievements .work .work-heading {
    font-size: 20px;
    color: #333333;
    text-transform: uppercase;
    margin: 10px 0;
  }

  .achievements .work .work-text {
    font-size: 15px;
    color: #585858;
    margin: 10px 0;
  }

  .about-us {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 80px;
    border-top: 2px solid #eeeeee;
  }

  .about-us img {
    width: 250px;
    max-width: 100%;
    height: auto;
    border-radius: 10px;
  }

  .about-us-text h2 {
    font-size: 30px;
    color: #333333;
    text-transform: uppercase;
    margin: 0;
  }

  .about-us-text p {
    font-size: 15px;
    color: #585858;
    margin: 10px 0;
  }
 