<body>
    <section class="hero">
      <div class="container">
        <h1 ><b>HR Solutions</b></h1>
        <p></p>
      </div>
    </section>
    <div class="achievements">
      <div class="work">
        <i class="fa-solid fa-building-lock"></i>
        <p class="work-heading">User Authentication</p>
        <p class="work-text">This feature ensures that only authorized users can access the application, enhancing security and privacy.</p>
      </div>
      <div class="work">
        <i class="fa-solid fa-file-pen"></i>
        <p class="work-heading">Timesheet Creation</p>
        <p class="work-text">Users can efficiently create new timesheets, providing essential details such as dates, tasks, and hours worked.</p>
      </div>
      <div class="work">
        <i class="fa-solid fa-thumbtack"></i>
        <p class="work-heading">Timesheet Status Tracking</p>
        <p class="work-text">Users can monitor the status of their submitted timesheets, allowing them to stay informed about approvals or any pending actions.</p>
      </div>
    </div> 
  </body>
