
.user-list-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30vh; 
}

.user-list {
  width: 95%; 
}
.search-bar {
  margin-bottom: 20px;
}
.search-bar input[type="text"] {
  padding: 5px 10px;
  margin-right: 10px;
}
.search-bar i {
  margin-left: 100px; 
}
.search-bar button {
  padding: 6px 10px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}
.search-bar button:hover {
  background-color: #0056b3;
}
.table {
  position: fixed;
  width: 90%;
  border-collapse: collapse;
}
.table th, .table td {
  padding: 8px;
  border-bottom: 1px solid #ddd;
  text-align: left;
}
.table th {
  background-color: #f2f2f2;
}
.table tr:hover {
  background-color: #f5f5f5;
}
