<div class="signup-container">
  <img src="/assets/4.png" alt="image/x-icon" class="small-logo">  
  <h2>Sign Up</h2>
    
    <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="firstName">First Name:</label>
        <input type="text" id="firstName" formControlName="firstName" required>
        <div *ngIf="signupForm.controls['firstName'].hasError('required')&&signupForm.controls['firstName'].touched">
          <h5>First Name required</h5>
        </div>
        <div *ngIf="signupForm.controls['firstName'].hasError('minlength')&&signupForm.controls['firstName'].touched">
          <h5>Name not valid</h5>
        </div>
      </div>
      <div class="form-group">
        <label for="lastName">Last Name:</label>
        <input type="text" id="lastName" formControlName="lastName" required>
        <div *ngIf="signupForm.controls['lastName'].hasError('required')&&signupForm.controls['lastName'].touched">
          <h5>Last Name required</h5>
        </div>
        <div *ngIf="signupForm.controls['lastName'].hasError('minlength')&&signupForm.controls['lastName'].touched">
          <h5>surname invalid</h5>
        </div>
      </div>
      <div class="form-group">
        <label for="userName">Email:</label>
        <input type="text" id="userName" formControlName="userName" required>
        <div *ngIf="signupForm.controls['userName'].hasError('required')&&signupForm.controls['userName'].touched">
          <h5>Email required</h5>
        </div>
        <div *ngIf="signupForm.controls['userName'].hasError('email')&&signupForm.controls['userName'].touched">
          <h5>email not valid</h5>
        </div>
      </div>
      <div class="form-group">
        <label for="password">Password:</label>
        <input type="password" id="password" formControlName="password" required>
      </div>
      <div class="form-group" hidden>
        <label for="role">Role:</label>
        <select id="role" formControlName="role" required>
          <option value="USER">User</option>
          <option value="ADMIN">Admin</option>
        </select>
      </div>
      <div class="form-group" hidden>
        <label for="daysOff">Days Off:</label>
        <input type="number" id="daysOff" formControlName="daysOff" required>
      </div>
      <button type="submit" [disabled]="signupForm.invalid">Sign Up</button>
    </form>
  </div>
  