/* Navbar CSS */
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333; /* Adjust background color as needed */
  padding: 10px 15px; /* Adjust top and bottom padding as needed */
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo {
  width: 120px;
  height: auto; /* Maintain aspect ratio */
  margin-right: 20px; /* Adjust spacing between logo and home button */
}

.link-group {
  display: flex;
  align-items: center;
}

.link-group a {
  display: flex;
  align-items: center;
  color: white !important; /* Adjust text color as needed */
  text-decoration: none;
  margin-left: 20px; /* Adjust spacing between buttons */
}

.logo-container a{
  color: white;
}

.link-group a i {
  margin-right: 10px; /* Adjust spacing between icon and text */
}

/* Adjust as needed */
